<%- include('./partials/header/header.ejs'); %>

<body class="animsition">
    <div class="page-wrapper">
        <%- include('./partials/navigation/mobile-nav.ejs'); %>

        <!-- PAGE CONTAINER-->
        <div class="page-container2">
            <%- include('./partials/navigation/nav.ejs'); %>
            <%- include('./partials/sidebar/sidebar.ejs'); %>
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 class="title-5 m-b-35">Status Done</h3>
                                <div class="d-flex align-items-center mb-4">
                                    <div class="col-12 col-md-6 col-sm-6 col-xl-6 col-lg-4 d-flex align-items-center">
                                        <label for="searchName" class="col-form-label mr-2" style="font-size: 18px;font-weight: 500;">Search</label>
                                        <input type="text" name="searchName" class="form-control" id="searchName" class="sorting" placeholder="Search Fullname">
                                    </div>
                                </div>
                                <div class="table-responsive table--no-card m-b-30">
                                    <table class="table table-borderless table-striped table-earning">
                                        <thead>
                                            <tr style="white-space: nowrap;">
                                                <th class="text-center">ID</th>
                                                <th>Course Title</th>
                                                <th>Fullname</th>
                                                <th>Email</th>
                                                <th>Address</th>
                                                <th>Age</th>
                                                <th>Contact</th>
                                                <th>Father's Name</th>
                                                <th>Mother's Name</th>
                                                <th>Level</th>
                                                <th>Schedule</th>
                                                <th>Time</th>
                                                <th>Date Enrolling</th>
                                                <th>Date Approved</th>
                                                <th>Date End</th>
                                                <th>Professor</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <% if(enrollements.length > 0) {%>
                                            <% enrollements.forEach(enrollement=> { %>
                                                <% if(enrollement.status === 'done') {%>
                                            <tr style="white-space: nowrap;">
                                                <td><%= enrollement._id %></td>
                                                <td><%= enrollement.courseTitle %></td>
                                                <td><%= enrollement.name %></td>
                                                <td><%= enrollement.email %></td>
                                                <td><%= enrollement.address %></td>
                                                <td><%= enrollement.age %></td>
                                                <td><%= enrollement.contact %></td>
                                                <td><%= enrollement.fatherName %></td>
                                                <td><%= enrollement.motherName %></td>
                                                <td><%= enrollement.level %></td>
                                                <td><%= enrollement.schedule %></td>
                                                <td><%= enrollement.time %></td>
                                                <td><%= enrollement.dateEnrolling %></td>
                                                <td><%= enrollement.dateApproved %></td>
                                                <td><%= enrollement.dateEnd %></td>
                                                <td><%= enrollement.professorId.fullname %></td>
                                                <td class="align-middle text-center">
                                                    <form action="/admin/enrollment/deleteDone" method="post">
                                                        <input type="hidden" name="enrollementId" value="<%= enrollement._id %>">
                                                        <div class="btn-group text-center justify-content-center">
                                                            <button type="submit" name="submit" class="btn btn-danger" data-toggle="tooltip"
                                                                data-placement="top" title="Delete">
                                                                <i class="zmdi zmdi-delete"></i>
                                                            </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                                <% } %>
                                            <% }) %>
                                        <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <%- include('./partials/footer/copyright.ejs'); %>
                    </div>
                </div>
            </div>
        </div>

    </div>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchInput = document.getElementById('searchName');
    const deceasedRows = document.querySelectorAll('tbody tr');

    searchInput.addEventListener('input', function() {
        const searchQuery = this.value.trim().toLowerCase();

        deceasedRows.forEach(row => {
            const fullName = row.querySelector('td:nth-child(3)').textContent.trim().toLowerCase();

            if (fullName.includes(searchQuery)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });
});
</script>
</body>
<%- include('./partials/footer/footer_js.ejs') %>
