<%- include('./partials/header/header.ejs'); %>

  <body>
    <%- include('./partials/navigation/nav.ejs'); %>

      <!--================Home Banner Area =================-->
      <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
          <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
              <div class="mb-3 mb-md-0">
                <h2>Cart</h2>
                <p>Very us move be blessed multiply night</p>
              </div>
              <div class="page_link">
                <a href="index.html">Home</a>
                <a href="cart.html">Cart</a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--================End Home Banner Area =================-->

      <!--================Cart Area =================-->
      <section class="cart_area">
        <div class="container">
          <div class="cart_inner">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    <th scope="col" class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% if (cart && cart.items && cart.items.length > 0) { %>
                        <% let subtotal = 0; %>
                        <% cart.items.forEach(item => { %>
                            <% let itemTotal = item.productId.price * item.quantity; %>
                            <% subtotal += itemTotal; %>
                            <form action="/cart/update/<%= item._id %>" method="post">
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="<%= item.productId.imageURL %>" alt="<%= item.productId.name %>" style="height: 60px; width: 60px;"/>
                                        </div>
                                        <div class="media-body">
                                            <p><%= item.productId.name %></p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>₱<%= item.productId?.price %></h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="number" name="qty" min="1" value="<%= item.quantity %>" title="Quantity:" class="input-text qty" />
                                        
                                    </div>
                                </td>
                                <td>
                                    <h5>₱<%= itemTotal %></h5>
                                </td>
                                <td>
                                  <input type="hidden" name="itemId" value="<%= item._id %>">
                                  <div class="d-flex align-items-center justify-content-center align-middle">
                                    <button type="submit" name="actions" value="update" class="gray_btn" style="cursor: pointer;">Update</button>
                                    <button type="submit" name="actions" value="delete" class="btn btn-danger" style="cursor: pointer;"><i class="ti-trash" aria-hidden="true"></i></button>
                                  </div>
                                </td>
                            </tr>
                          </form>
                        <% }) %>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Subtotal</h5>
                            </td>
                            <td>
                                <h5>₱<%= subtotal.toFixed(2) %></h5>
                            </td>
                        </tr>
                    <% } else { %>
                        <tr>
                            <td colspan="4">No items in the cart</td>
                        </tr>
                    <% } %>
                  <tr class="out_button_area">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <form action="/checkout" method="post">
                        <div class="checkout_btn_inner">
                          <a class="gray_btn" href="/products">Continue Shopping</a>
                          <button type="submit" class="main_btn" href="#">Proceed to checkout</button>
                        </div>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--================End Cart Area =================-->

      <%- include('./partials/footer/footer.ejs'); %>

  </body>
  <%- include('./partials/footer/footer_js.ejs'); %>