<%- include('./partials/header/header.ejs'); %>

  <body>
    <%- include('./partials/navigation/nav.ejs'); %>
<style>
    .flex-column {
    display: flex;
    flex-direction: column;
}
</style>
    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
            <div class="mb-3 mb-md-0">
              <h2>Courses</h2>
              <p>Bring called seed first of third give itself now ment</p>
            </div>
            <div class="page_link">
              <a href="index.html">Home</a>
              <a href="category.html">Shop</a>
              <a href="category.html">Women Fashion</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->
<!--================ Start Courses Area =================-->
<section class="blog-area section-gap mt-40">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="main_title">
          <h2><span>Courses</span></h2>
          <p>Bring called seed first of third give itself now ment</p>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-lg-12">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-block">
                    <form action="/course/doEnroll" method="post">
                      <input type="hidden" name="courseId" value="<%= course._id %>">
                        <div class="form-group">
                            <label for="name" class=" form-control-label">FullName</label>
                            <input type="text" id="name" name="name" placeholder="Enter FullName" class="form-control" autocomplete="off" value="<%= userLogin.fullname %>" required/>
                        </div>
                        <div class="form-group">
                            <label for="email" class=" form-control-label">Email</label>
                            <input type="email" id="email" name="email" placeholder="Enter FullName" class="form-control" autocomplete="off" value="<%= userLogin.email %>" required disabled/>
                        </div>
                        <div class="form-group">
                            <label for="address" class=" form-control-label">Address</label>
                            <input type="text" id="address" name="address" placeholder="Enter Address" class="form-control" autocomplete="off" value="<%= userLogin.address %>" required/>
                        </div>
                        <div class="form-group">
                            <label for="age" class=" form-control-label">Age</label>
                            <input type="text" id="age" name="age" pattern="^[0-9]{1,10}$" placeholder="Enter age" class="form-control" value="<%= userLogin.age %>" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="gender" class="form-control-label">Gender</label>
                            <input type="text" id="gender" name="gender" placeholder="Gender" class="form-control" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="contact" class=" form-control-label">Phone Number</label>
                            <input type="text" id="contact" name="contact" pattern="(\+639\d{2}-\d{3}-\d{4}|\+639\d{9}|09\d{2}-\d{3}-\d{4}|09\d{9})" placeholder="Enter Phone Number" class="form-control" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="fatherName" class="form-control-label">Father's Name</label>
                            <input type="text" id="fatherName" name="fatherName" placeholder="Enter Father's Name" class="form-control" autocomplete="off" required/>
                        </div>
                        <div class="form-group">
                            <label for="motherName" class="form-control-label">Mother's Name</label>
                            <input type="text" id="motherName" name="motherName" placeholder="Enter Mother's Name" class="form-control" autocomplete="off" required/>
                        </div>
                        <div class="form-group flex-column">
                            <label for="level" class="form-control-label">Level Experience</label>
                            <select name="level" id="level" class="form-control">
                                <option value="" selected hidden>Please select</option>
                                <option value="Beginner">Beginner</option>
                                <option value="Intermediate">Intermediate</option>
                                <option value="Pro">Pro</option>
                            </select>
                        </div>
                        <div class="form-group flex-column">
                            <label for="schedule" class="form-control-label">Choose Schedule</label>
                            <div id="schedule">
                                <input type="checkbox" id="monday" name="schedule" value="Monday">
                                <label for="monday">Monday</label><br>
                                <input type="checkbox" id="tuesday" name="schedule" value="Tuesday">
                                <label for="tuesday">Tuesday</label><br>
                                <input type="checkbox" id="wednesday" name="schedule" value="Wednesday">
                                <label for="wednesday">Wednesday</label><br>
                                <input type="checkbox" id="thursday" name="schedule" value="Thursday">
                                <label for="thursday">Thursday</label><br>
                                <input type="checkbox" id="friday" name="schedule" value="Friday">
                                <label for="friday">Friday</label><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="time" class=" form-control-label">Choose Time</label>
                            <input type="time" id="time" name="time" placeholder="Enter Color" class="form-control" autocomplete="off" required/>
                        </div>
                        <div class="d-flex justify-content-end m-t-20">
                            <button type="submit" class="btn btn-success">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    
    </div>
  </div>
</section>
<!--================ End Courses Area =================-->

    <%- include('./partials/footer/footer.ejs'); %>

  </body>
<%- include('./partials/footer/footer_js.ejs'); %>
