<%- include('./partials/header/header.ejs'); %>

  <body>
    <%- include('./partials/navigation/nav.ejs'); %>

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
        <div class="container">
          <div class="banner_content d-md-flex justify-content-between align-items-center">
        </div>
      </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Single Product Area =================-->
    <div class="product_image_area" style="margin-bottom: 120px;">
      <div class="container">
        <div class="row s_product_inner">
          <div class="col-lg-6">
            <div class="s_product_img">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="d-block w-100"
                      src="<%= product.imageURL %>" style="height: 500px;"
                      alt="First slide"/>
                  </div>
                </div>
              </div>
            
          </div>
          <div class="col-lg-5 offset-lg-1">
            <div class="s_product_text">
              <h3><%= product.name %></h3>
              <h2>₱ <%= product.price %></h2>
              <ul class="list">
                <li>
                  <a class="active">
                    <span>Category</span> : <%= product.category %></a>
                </li>
                <li>
                  <a> <span>Brand</span> : <%= product.brand %></a>
                </li>
                <li>
                  <a> <span>Color</span> : <%= product.color %></a>
                </li>
                <li>
                  <a> <span>Availibility</span> : <%= product.quantity %></a>
                </li>
              </ul>
              <p>
                <%= product.description %>
              </p>
              <form action="/cartsingle" method="post">
                <input type="hidden" name="productId" value="<%= product._id %>">
                <div class="product_count">
                  <label for="quantity">Quantity:</label>
                  <input type="text"  name="quantity" maxlength="12" value="1" title="Quantity:" class="input-text qty" />
                </div>
                <div class="card_area">
                  <button type="submit" class="main_btn">Add to Cart</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================End Single Product Area =================-->

  <%- include('./partials/footer/footer.ejs'); %>
</body>
<%- include('./partials/footer/footer_js.ejs'); %>
