<%- include('./partials/header/header.ejs'); %>

  <body>
    <%- include('./partials/navigation/nav.ejs'); %>

    <!--================Home Banner Area =================-->
    <section class="banner_area">
      <img src="/public/img/example.jpg" alt="Banner Image">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              
          </div>
      </div>
    </section>
  
    <!--================End Home Banner Area =================-->

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_gap">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="main_title">
              <h2><span>Products</span></h2>
            </div>
          </div>
        </div>
        <div class="row d-flex">
          <div class="col-lg-3 mb-20">
            <div class="left_sidebar_area">
              <aside class="left_widgets p_filter_widgets">
                <div class="l_w_title">
                  <h3>Browse Categories</h3>
                </div>
                <div class="widgets_inner">
                  <ul class="list">
                    <% let active='' %>
                    <% if (!req.params.category) { active = 'active'; } %>
                  <li class="<%= active %>">
                    <a href="/products" >All</a>
                  </li>
                  <% const uniqueCategories = [...new Set(products.map(product => product.category))]; uniqueCategories.forEach(category => { %>
                  <li class="">
                      <a href="/products/<%= category %>"><%= category %></a>
                  </li>
                  <% }); %>
                  </ul>
                </div>
              </aside>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="product_top_bar d-flex align-items-center">
              <div class="col-12 col-lg-6 d-flex align-items-center ">
                <label for="search" class=" col-form-label mr-2" style="font-size: 18px;font-weight: 500;">Search</label>
                <input type="text" name="search" class="form-control" id="searchProductName" class="sorting" placeholder="Search">
              </div>
            </div>
            <div class="latest_product_inner" style="margin-top: 20px;">
              <div class="row">
                <% if(products.length > 0) {%>
                  <% products.forEach(product=> { %>
                <div class="col-lg-4 col-md-6" id="productToDisplay">
                  <div class="single-product">
                    <div class="product-img">
                      <img class="card-img img-thumbnail" src="<%= product.imageURL %>" alt="" style="height: 300px;"/>
                      <form action="/cart" method="post">
                        <input type="hidden" name="productId" value="<%= product._id %>">
                        <div class="p_icon">
                          <a href="/product/detail/<%= product._id %>">
                            <i class="ti-eye"></i>
                          </a>
                          <button type="submit">
                            <i class="ti-heart"></i>
                          </button>
                        </div>
                      </form>
                    </div>
                    <div class="product-btm">
                      <a href="#" class="d-block">
                        <h4><%= product.name %></h4>
                      </a>
                      <div class="mt-3">
                        <span class="mr-4">₱ <%= product.price %></span>
                      </div>
                    </div>
                  </div>
                </div>
                <% }) %>
                <% } else{ %>
                  <div class="col-12 justify-content-center d-flex">
                    <h3 class="align-middle">No Products Available</h3>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>

          
        </div>
      </div>
    </section>
    <!--================End Category Product Area =================-->
    <script>
    function searchProducts() {
        const searchQuery = document.getElementById('searchProductName').value.trim().toLowerCase();
        const products = document.querySelectorAll('#productToDisplay');

        products.forEach(product => {
            const productName = product.querySelector('h4').innerText.toLowerCase();
            if (productName.includes(searchQuery)) {
                product.style.display = 'block';
            } else {
                product.style.display = 'none';
            }
        });
    }

    document.getElementById('searchProductName').addEventListener('input', function() {
        searchProducts();
    });
    </script>
    <%- include('./partials/footer/footer.ejs'); %>

  </body>
<%- include('./partials/footer/footer_js.ejs'); %>
