
<%- include('./partials/header/header.ejs'); %>
<body class="animsition">
    <div class="page-wrapper">
        <%- include('./partials/navigation/mobile-nav.ejs'); %>
        <%- include('./partials/navigation/nav.ejs'); %>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('./partials/sidebar/sidebar.ejs'); %>
            <!-- END HEADER DESKTOP-->

            <!-- STATISTIC-->
            <section class="statistic m-t-75">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <h2 class="m-b-20">Welcome!</h2>
                        <div class="row" style="height: 60vh;">
                            <div class="col-md-12 col-lg-12">
                                <div class="statistic__item">
                                    <h2 class="number"></h2>
                                    <span class="">Welcome to Professor's <%= userLogin.fullname %>!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END STATISTIC-->
            

            <section>
                <div class="container-fluid">
                    <%- include('./partials/footer/copyright.ejs'); %>
                </div>
            </section>
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
</body>
<%- include('./partials/footer/footer_js.ejs'); %>
